// imagem responsiva
// =====================
.img-responsive
	height auto
	width 100%

// imagem responsiva mantendo no maximo o tamanho original
// =======================================================
.img-max-responsive
	height auto
	max-width 100%
	width initial


// alinhamento centralizado
// ========================
.txt-center
	text-align center

