// easing
// ========================

cubic = cubic-bezier(1.000, 0.000, 0.000, 1.000)



// breakpoints
// =======================

siteWidth    = 1120px
desktopLarge = 1080px
desktop      = 1024px
desktopSmall = 992px
tablet       = 768px
mobile       = 640px
oldMobile    = 480px



// onde quebra o menu
// ======================

broken = 769px






// cores
// ======================

white            = #fff
black            = #000

lcone    = #435D6A
lctwo    = #10171B
lcthree  = #10171B


icone   = #A4DB09
ictwo   = #A4DB09





// fonts
// ======================



fontMaster  = 'Baskervville', Arial, sans-serif
fontSecond  = 'Baskervville', Tahoma, serif
